
     <!-- to oput it into a card  :  -->
    <div class="card">

      <div class="img-wrapper">
           <img class="card-img-top" src="assets/images/house 2.png">
           <!--  add button on the images -->
           <ul class="list-inline">
             <li class="list-inline-item">
               <button class="btn btn-primary">A</button>
             </li>
             <li class="list-inline-item">
               <button class="btn btn-primary">B</button>
             </li>
           </ul>


      </div>
      <div class="card-body p-2">
      <h2>{{property.Id}}</h2>
      <h3>{{property.Type}}</h3>
      <h4>{{property.Price}}</h4>

      </div>

    </div>





